{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div>
    <div class="mt-2">
        <div class="card">
            <div class="card-header bg-info text-white">
                Dashboard Statistics
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <a class="text-decoration-none text-dark" href="{% url 'user' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Staff <i class="fas fa-users"></i></h4>
                                    <h3>{{ total_user }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="text-decoration-none text-dark" href="{% url 'product' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Products <i class="fas fa-box"></i></h4>
                                    <h3>{{ product }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="text-decoration-none text-dark" href="{% url 'order' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                                    <h3>{{ order }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="text-decoration-none text-dark" href="{% url 'delivery' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Delivery <i class="fas fa-shipping-fast"></i></h4>
                                    <h3>{{ delivery }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Orders </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Order Note</th>
                                    <th>Order Date</th>
                                    <th>Order By</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders %}
                                {% for order in orders %}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ order.product }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.order_note }}</td>
                                    <td>{{ order.created_at }}</td>
                                    <td>{{ order.user }}</td>
                                    <td>{{ order.status }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>No Order Data</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->
    </div>
</div>
{% else %}
<div class="orders">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info btn-block" type="submit" value="Make Request">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Orders </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Order Note</th>
                                        <th>Order Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                    {% if order.user == user %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ order.product }}</td>
                                        <td>{{ order.quantity }}</td>
                                        <td>{{ order.order_note }}</td>
                                        <td>{{ order.created_at }}</td>
                                        <td>{{ order.status }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>No Order Data</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div> <!-- /.col-lg-8 -->
        </div>
    </div>
</div>
{% endif %}
<!-- /.orders -->
{% endblock content %}